In [1]:
! code .

## Read Nastran input file

from pyNastran\bdf\bdf_interface\pybdf.py _show_bad_file

In [1]:
import pandastran
import pandas as pd

In [2]:
self=pandastran.pandastran()
self.read_file("test_openvsp.dat")
self.df_in.head(2)

                                               text  row_no
0  $NASTRAN Data File Generated from OpenVSP 3.16.2       0
1                                   $Num_Tris: 3492       1

In [3]:
self.df_in_EC_CC.head(2)

                          text  row_no      card
0   SET 1 = 1,2,3,4,5,6,7,8,9,       4  SET 1 =
1  10,11,12,13,14,15,16,17,18,       5  10,11,12

In [4]:
self.df_in_BD.head(2)

                                                   text  row_no      card
1172  GRID,       7,        , 3.68776, 0.00000, 0.66193    1180  GRID,
1173  GRID,       8,        , 3.85121, 0.00000, 0.66334    1181  GRID,

In [8]:
li = self.df_in_BD_card.tolist()
li

['GRID', 'CTRIA6', 'PSHELL', 'PBAR', 'MAT1']

In [9]:
df=self.df_in_BD
card_name=li[3]
df=df[df["text"].str.startswith(card_name)]
df["text"].count()

1

In [ ]:
for i in li:
    df=self.df_in.copy()

{GRID ：[カード数,カード行数,dataframe]}で格納

## out_file

In [ ]:
df_out=self.df_in

In [ ]:
self.write_file(df_out)

## make card df

### openVSP

In [11]:
card_name="GRID"
df=self.df_in.copy()
# df["card"]=df["text"].str[:8]
self._separate_open_vsp(df)

,0,1,2,3,4,5,6,7,8,9
0,$NASTRAN Data File Generated from OpenVSP 3.16.2,None,None,None,None,None,None,None,None,None
1,$Num_Tris: 3492,None,None,None,None,None,None,None,None,None
2,$Num_Beams 0,None,None,None,None,None,None,None,None,None
3,,None,None,None,None,None,None,None,None,None
4,SET 1 = 1,2,3,4,5,6,7,8,9,
5,10,11,12,13,14,15,16,17,18,
6,19,20,21,22,23,24,25,26,27,
7,28,29,30,31,32,33,34,35,36,
8,37,38,39,40,41,42,43,44,45,
9,46,47,48,49,50,51,52,53,54,
10,55,56,57,58,59,60,61,62,63,
11,64,65,66,67,68,69,70,71,72,
12,73,74,75,76,77,78,79,80,81,
13,82,83,84,85,86,87,88,89,90,
14,91,92,93,94,95,96,97,98,99,
15,100,101,102,103,104,105,106,107,108,
16,109,110,111,112,113,114,115,116,117,
17,118,119,120,121,122,123,124,125,126,
18,127,128,129,130,131,132,133,134,135,
19,136,137,138,139,140,141,142,143,144,
20,145,146,147,148,149,150,151,152,153,
21,154,155,156,157,158,159,160,161,162,
22,163,164,165,166,167,168,169,170,171,
23,172,173,174,175,176,177,178,179,180,
24,181,182,183,184,185,186,187,188,189,
25,190,191,192,193,194,195,196,197,198,
26,199,200,201,202,203,204,205,206,207,
27,208,209,210,211,212,213,214,215,216,
28,217,218,219,220,221,222,223,224,225,
29,226,227,228,229,230,231,232,233,234,
...,...,...,...,...,...,...,...,...,...,...
15134,CTRIA6,10471,1,6305,3750,6952,6468,6954,6978,
15135,,-106.390,None,None,None,None,None,None,None,None
15136,CTRIA6,10472,1,6305,6952,6515,6978,6979,6524,
15137,,-169.704,None,None,None,None,None,None,None,None
15138,CTRIA6,10473,1,6952,6980,6520,6981,6982,6983,
15139,,-161.134,None,None,None,None,None,None,None,None
15140,CTRIA6,10474,1,6515,6952,6520,6979,6983,6745,
15141,,-95.3776,None,None,None,None,None,None,None,None
15142,CTRIA6,10475,1,3752,6980,6952,6984,6981,6953,
15143,,140.116,None,None,None,None,None,None,None,None
15144,CTRIA6,10476,1,6904,6520,6980,6944,6982,6985,
15145,,40.8219,None,None,None,None,None,None,None,None
15146,CTRIA6,10477,1,3752,3906,6980,4055,6986,6984,
15147,,-179.716,None,None,None,None,None,None,None,None
15148,CTRIA6,10478,1,6904,6980,3906,6985,6986,6938,
15149,,-17.3939,None,None,None,None,None,None,None,None
15150,,None,None,None,None,None,None,None,None,None
15151,$Properties,None,None,None,None,None,None,None,None,None
15152,PSHELL,1,1,0.10000,-1,None,None,None,None,None
15153,PBAR,2,1,0.10000,0.10000,0.10000,0.00000,,,
15154,,,,,,,,,,
15155,,,,0.00000,None,None,None,None,None,None
15156,,None,None,None,None,None,None,None,None,None
15157,$Materials,None,None,None,None,None,None,None,None,None
15158,MAT1,1,1.5e+09,5.63e+08,0.33,5.45,1.31e-05,None,None,None
15159,MAT1,2,1.53e+09,5.74e+08,0.33,5.39,1.29e-05,None,None,None
15160,MAT1,3,2.38e+09,8.86e+08,0.342,8.6,5.11e-06,None,None,None
15161,MAT1,4,4.28e+09,1.66e+09,0.29,15.2,7.61e-06,None,None,None
15162,,None,None,None,None,None,None,None,None,None
15163,END DATA,None,None,None,None,None,None,None,None,None

In [ ]:
df=df[df["text"].str.contains(card_name)]

In [ ]:
start_num = df.index[0]
count_row = df.index[1]-df.index[0]
end_num = df.tail(1).index[0]+count_row
df_card=self.df_in.copy()
df_card=df_card[start_num:end_num]

In [3]:
df = self._make_df_card("GRID")
df = self._separate_open_vsp(df)
df.columns = ["name","id","zahyo_kei","x","y","z"]
df.head()

      name        id zahyo_kei         x         y         z
1174  GRID         1             0.00000   0.00000   0.00000
1175  GRID         2             0.06571   0.00000   0.07404
1176  GRID         3             0.06571   0.07404   0.00000
1177  GRID         4             0.03285   0.00000   0.03702
1178  GRID         5             0.06571   0.03702   0.03702

In [5]:
df = self._make_df_card("CTRIA6")
df = self._separate_open_vsp(df)
# df.columns = ["name","id","zahyo_kei","x","y","z"]
df.head()

,0,1,2,3,4,5,6,7,8,9
8166,CTRIA6,6987,1,1,2,3,4,5,6,
8167,,-65.7132,None,None,None,None,None,None,None,None
8168,CTRIA6,6988,1,7,8,9,10,11,12,
8169,,-0.04143,None,None,None,None,None,None,None,None
8170,CTRIA6,6989,1,13,14,15,16,17,18,

### Hyper mesh

In [3]:
self=pandastran.pandastran()
self.read_file("out_file.dat")
df=self.df_in.copy()
df=self._separate_8moji(df)
df.columns = ["name","id","zahyo_kei","x","y","z"]
df.head()

       name        id zahyo_kei         x         y         z
0  GRID             1             0.00000   0.00000   0.00000
1  GRID             2             0.06571   0.00000   0.07404
2  GRID             3             0.06571   0.07404   0.00000
3  GRID             4             0.03285   0.00000   0.03702
4  GRID             5             0.06571   0.03702   0.03702

## 8moji

In [ ]:
df_GRID = self._eight_moji(df_GRID)
df_GRID.head()

## create output file

In [ ]:
df_GRID = self._create_output_row(df_GRID)
df_GRID.head()

In [ ]:
self.write_file(df_GRID)

## factory

### header

In [ ]:
header_num = df[df["text"].str.contains('BEGIN BULK')].index[0]
header = df[:header_num]
header.tail()

In [ ]:
df_grid_heder=df[header_num:df_grid.index[0]]
df_grid_heder

### CTRIA6(open vsp)

In [32]:
self.df_in[15100:].head()

                                                    text
15100  CTRIA6,   10454,       1,    6398,    6391,   ...
15101                                          ,-51.6463
15102  CTRIA6,   10455,       1,    6328,    6327,   ...
15103                                          , 112.549
15104  CTRIA6,   10456,       1,    6398,    6949,   ...

In [57]:
card_name="CTRIA6"
card_name="GRID"
df=self._make_df_card(card_name)
start_num = df.index[0]
count_row = df.index[1]-df.index[0]
end_num = df.tail(1).index[0]+count_row
df=self.df_in.copy()
df=df[start_num:end_num]
df=self._separate_open_vsp(df)

In [58]:
df.tail()

         0         1         2         3         4         5
8155  GRID      6982             6.32983  -0.14846   0.54666
8156  GRID      6983             6.38927  -0.16697   0.53695
8157  GRID      6984             6.38338  -0.04047   0.56216
8158  GRID      6985             6.27185  -0.10157   0.56731
8159  GRID      6986             6.30758  -0.04047   0.57010