## Read Nastran input file

from pyNastran\bdf\bdf_interface\pybdf.py _show_bad_file

### set file_name

In [1]:
bdf_filename = "test_openvsp.dat"

### read file

In [10]:
bdf_file = open(bdf_filename, 'r', encoding="utf-8")

In [12]:
lines2 = bdf_file.readlines()

In [14]:
df_a=pd.DataFrame(lines2)
df_a

                                                       0
0      $NASTRAN Data File Generated from OpenVSP 3.16...
1                                      $Num_Tris: 3492\n
2                                         $Num_Beams 0\n
3                                                     \n
4                           SET 1 = 1,2,3,4,5,6,7,8,9,\n
5                          10,11,12,13,14,15,16,17,18,\n
6                          19,20,21,22,23,24,25,26,27,\n
7                          28,29,30,31,32,33,34,35,36,\n
8                          37,38,39,40,41,42,43,44,45,\n
9                          46,47,48,49,50,51,52,53,54,\n
10                         55,56,57,58,59,60,61,62,63,\n
11                         64,65,66,67,68,69,70,71,72,\n
12                         73,74,75,76,77,78,79,80,81,\n
13                         82,83,84,85,86,87,88,89,90,\n
14                         91,92,93,94,95,96,97,98,99,\n
15                100,101,102,103,104,105,106,107,108,\n
16                109,110,111,112,113,114,115,116,117,\n
17                118,119,120,121,122,123,124,125,126,\n
18                127,128,129,130,131,132,133,134,135,\n
19                136,137,138,139,140,141,142,143,144,\n
20                145,146,147,148,149,150,151,152,153,\n
21                154,155,156,157,158,159,160,161,162,\n
22                163,164,165,166,167,168,169,170,171,\n
23                172,173,174,175,176,177,178,179,180,\n
24                181,182,183,184,185,186,187,188,189,\n
25                190,191,192,193,194,195,196,197,198,\n
26                199,200,201,202,203,204,205,206,207,\n
27                208,209,210,211,212,213,214,215,216,\n
28                217,218,219,220,221,222,223,224,225,\n
29                226,227,228,229,230,231,232,233,234,\n
...                                                  ...
15134  CTRIA6,   10471,       1,    6305,    3750,   ...
15135                                        ,-106.390\n
15136  CTRIA6,   10472,       1,    6305,    6952,   ...
15137                                        ,-169.704\n
15138  CTRIA6,   10473,       1,    6952,    6980,   ...
15139                                        ,-161.134\n
15140  CTRIA6,   10474,       1,    6515,    6952,   ...
15141                                        ,-95.3776\n
15142  CTRIA6,   10475,       1,    3752,    6980,   ...
15143                                        , 140.116\n
15144  CTRIA6,   10476,       1,    6904,    6520,   ...
15145                                        , 40.8219\n
15146  CTRIA6,   10477,       1,    3752,    3906,   ...
15147                                        ,-179.716\n
15148  CTRIA6,   10478,       1,    6904,    6980,   ...
15149                                        ,-17.3939\n
15150                                                 \n
15151                                      $Properties\n
15152             PSHELL,       1,       1, 0.10000,-1\n
15153  PBAR,       2,       1, 0.10000, 0.10000, 0.10...
15154      ,        ,        ,        ,        ,     ...
15155                      ,        ,        , 0.00000\n
15156                                                 \n
15157                                       $Materials\n
15158  MAT1,       1, 1.5e+09,5.63e+08,    0.33,    5...
15159  MAT1,       2,1.53e+09,5.74e+08,    0.33,    5...
15160  MAT1,       3,2.38e+09,8.86e+08,   0.342,     ...
15161  MAT1,       4,4.28e+09,1.66e+09,    0.29,    1...
15162                                                 \n
15163                                         END DATA\n

[15164 rows x 1 columns]

In [2]:
lines = []  # type: List[str]
encoding = "utf-8"
print('ENCODING - show_bad_file=%r' % encoding)

with open(bdf_filename, 'r', encoding=encoding) as bdf_file:
    iline = 0
    nblank = 0
    while 1:
        try:
            line = bdf_file.readline().rstrip()
        except:
            line = "error"
            print("error at " + str(iline))
            print("check encode error")
            
        iline += 1
        lines.append(line)
        
        if line.find("END DATA") != -1:
            print("success!")
            break

ENCODING - show_bad_file='utf-8'
success!

## Create pandas df

In [3]:
import pandas as pd
df=pd.DataFrame(lines)
df.columns=["text"]

In [4]:
df.head()

                                               text
0  $NASTRAN Data File Generated from OpenVSP 3.16.2
1                                   $Num_Tris: 3492
2                                      $Num_Beams 0
3
4                        SET 1 = 1,2,3,4,5,6,7,8,9,

## write

In [8]:
li=df["text"].tolist()

In [6]:
f = open('list.txt', 'w')
for x in li:
    f.write(str(x) + "\n")
f.close()

## Separate df

### separete list

In [ ]:
separete_list = ["BEGIN BULK",
                "GRID"]

### header

In [7]:
header_num = df[df["text"].str.contains('BEGIN BULK')].index[0]
header = df[:header_num]
header.tail()

                                                   text
1166  10443,10444,10445,10446,10447,10448,10449,1045...
1167  10452,10453,10454,10455,10456,10457,10458,1045...
1168  10461,10462,10463,10464,10465,10466,10467,1046...
1169  10470,10471,10472,10473,10474,10475,10476,1047...
1170

### GRID(open vsp)

In [6]:
df_grid=df[df["text"].str.contains('GRID')]
df_grid = df_grid["text"].str.split(',', expand=True)
df_grid.columns = ["name","id","zahyo_kei","x","y","z"]
# df_grid.tail()
df_grid.head(1)

      name        id zahyo_kei         x         y         z
1174  GRID         1             0.00000   0.00000   0.00000

In [7]:
df_grid_heder=df[header_num:df_grid.index[0]]
df_grid_heder

                  text
1171        BEGIN BULK
1172
1173  $Skin Gridpoints

### CTRIA6(open vsp)

In [8]:
df_grid.tail(1).index[0]

8159

In [9]:
CTRIA6_start = df_grid[len(df_grid)-1:].index[0]

In [10]:
df_CTRIA6=df[df["text"].str.contains('CTRIA6')]
CTRIA6_start_num = df_CTRIA6.head(1).index[0]
CTRIA6_end_num = df_CTRIA6.tail(1).index[0]+2

In [11]:
df_tmp0 = df[CTRIA6_start_num:CTRIA6_end_num]
df_tmp0.head()

                                                   text
8166  CTRIA6,    6987,       1,       1,       2,   ...
8167                                          ,-65.7132
8168  CTRIA6,    6988,       1,       7,       8,   ...
8169                                          ,-0.04143
8170  CTRIA6,    6989,       1,      13,      14,   ...

In [12]:
df_tmp1 = df_tmp0[df_tmp0.index % 2 == 0]
df_tmp2 = df_tmp0[df_tmp0.index % 2 != 0]

In [13]:
df_tmp1.size,df_tmp2.size

(3492, 3492)

In [17]:
df_test = pd.DataFrame(df_tmp1["text"],df_tmp2["text"])

In [21]:
df_tmp1["text"]

8166     CTRIA6,    6987,       1,       1,       2,   ...
8168     CTRIA6,    6988,       1,       7,       8,   ...
8170     CTRIA6,    6989,       1,      13,      14,   ...
8172     CTRIA6,    6990,       1,      19,      20,   ...
8174     CTRIA6,    6991,       1,      25,      26,   ...
8176     CTRIA6,    6992,       1,      31,      32,   ...
8178     CTRIA6,    6993,       1,      37,      38,   ...
8180     CTRIA6,    6994,       1,      43,      44,   ...
8182     CTRIA6,    6995,       1,      49,      50,   ...
8184     CTRIA6,    6996,       1,      49,      55,   ...
8186     CTRIA6,    6997,       1,      60,      61,   ...
8188     CTRIA6,    6998,       1,      66,      37,   ...
8190     CTRIA6,    6999,       1,      71,      72,   ...
8192     CTRIA6,    7000,       1,      77,      78,   ...
8194     CTRIA6,    7001,       1,      66,      67,   ...
8196     CTRIA6,    7002,       1,      86,      87,   ...
8198     CTRIA6,    7003,       1,      92,      93,   ...
8200     CTRIA6,    7004,       1,      98,      99,   ...
8202     CTRIA6,    7005,       1,     104,     105,   ...
8204     CTRIA6,    7006,       1,     110,     105,   ...
8206     CTRIA6,    7007,       1,      71,     115,   ...
8208     CTRIA6,    7008,       1,     118,     119,   ...
8210     CTRIA6,    7009,       1,     124,     125,   ...
8212     CTRIA6,    7010,       1,     104,     130,   ...
8214     CTRIA6,    7011,       1,     135,     136,   ...
8216     CTRIA6,    7012,       1,     140,     141,   ...
8218     CTRIA6,    7013,       1,     140,       9,   ...
8220     CTRIA6,    7014,       1,     148,     149,   ...
8222     CTRIA6,    7015,       1,      20,     154,   ...
8224     CTRIA6,    7016,       1,      98,     159,   ...
                               ...
15090    CTRIA6,   10449,       1,    6391,    6343,   ...
15092    CTRIA6,   10450,       1,    6825,    6391,   ...
15094    CTRIA6,   10451,       1,    6448,    3818,   ...
15096    CTRIA6,   10452,       1,    6825,    6451,   ...
15098    CTRIA6,   10453,       1,    6391,    6825,   ...
15100    CTRIA6,   10454,       1,    6398,    6391,   ...
15102    CTRIA6,   10455,       1,    6328,    6327,   ...
15104    CTRIA6,   10456,       1,    6398,    6949,   ...
15106    CTRIA6,   10457,       1,    6373,    6967,   ...
15108    CTRIA6,   10458,       1,    6804,    6677,   ...
15110    CTRIA6,   10459,       1,    6373,    6940,   ...
15112    CTRIA6,   10460,       1,    6804,    6967,   ...
15114    CTRIA6,   10461,       1,    6270,    3258,   ...
15116    CTRIA6,   10462,       1,    6273,    6885,   ...
15118    CTRIA6,   10463,       1,    6528,    6316,   ...
15120    CTRIA6,   10464,       1,    6547,    6528,   ...
15122    CTRIA6,   10465,       1,    6472,    6541,   ...
15124    CTRIA6,   10466,       1,    6547,    6473,   ...
15126    CTRIA6,   10467,       1,    6579,    6276,   ...
15128    CTRIA6,   10468,       1,    2891,    6270,   ...
15130    CTRIA6,   10469,       1,    6579,    3738,   ...
15132    CTRIA6,   10470,       1,    3738,      25,   ...
15134    CTRIA6,   10471,       1,    6305,    3750,   ...
15136    CTRIA6,   10472,       1,    6305,    6952,   ...
15138    CTRIA6,   10473,       1,    6952,    6980,   ...
15140    CTRIA6,   10474,       1,    6515,    6952,   ...
15142    CTRIA6,   10475,       1,    3752,    6980,   ...
15144    CTRIA6,   10476,       1,    6904,    6520,   ...
15146    CTRIA6,   10477,       1,    3752,    3906,   ...
15148    CTRIA6,   10478,       1,    6904,    6980,   ...
Name: text, Length: 3492, dtype: object