## Read Nastran input file

from pyNastran\bdf\bdf_interface\pybdf.py _show_bad_file

### set file_name

In [1]:
bdf_filename = "test_openvsp.dat"

### read file

In [3]:
lines = []  # type: List[str]
encoding = "utf-8"
print('ENCODING - show_bad_file=%r' % encoding)

with open(bdf_filename, 'r', encoding=encoding) as bdf_file:
    iline = 0
    nblank = 0
    while 1:
        try:
            line = bdf_file.readline().rstrip()
        except:
            line = "error"
            print("error at " + str(iline))
            print("check encode error")
            
        iline += 1
        lines.append(line)
        
        if line.find("END DATA") != -1:
            print("success!")
            break

ENCODING - show_bad_file='utf-8'
success!

## Create pandas df

In [8]:
import pandas as pd
df=pd.DataFrame(lines)
df.columns=["text"]

In [25]:
df.head()

                                               text
0  $NASTRAN Data File Generated from OpenVSP 3.16.2
1                                   $Num_Tris: 3492
2                                      $Num_Beams 0
3
4                                        BEGIN BULK

## Separate df

### GRID(open vsp)

In [23]:
df_grid=df[df["text"].str.contains('GRID')]
df_grid = df_grid["text"].str.split(',', expand=True)
df_grid.columns = ["name","id","zahyo_kei","x","y","z"]
df_grid.head()

    name        id zahyo_kei         x         y         z
7   GRID         1             0.00000   0.00000   0.00000
8   GRID         2             0.06571   0.00000   0.07404
9   GRID         3             0.06571   0.07404   0.00000
10  GRID         4             0.03285   0.00000   0.03702
11  GRID         5             0.06571   0.03702   0.03702

### CTRIA6(open vsp)

In [13]:
df[6993:]

                                                    text
6993
6994                                      $Intersections
6995
6996                                     $Remainingnodes
6997
6998                                               $Skin
6999   CTRIA6,    6987,       1,       1,       2,   ...
7000                                           ,-65.7132
7001   CTRIA6,    6988,       1,       7,       8,   ...
7002                                           ,-0.04143
7003   CTRIA6,    6989,       1,      13,      14,   ...
7004                                           , 70.7039
7005   CTRIA6,    6990,       1,      19,      20,   ...
7006                                           , 114.395
7007   CTRIA6,    6991,       1,      25,      26,   ...
7008                                           , 90.0003
7009   CTRIA6,    6992,       1,      31,      32,   ...
7010                                           , 122.905
7011   CTRIA6,    6993,       1,      37,      38,   ...
7012                                           , 64.7861
7013   CTRIA6,    6994,       1,      43,      44,   ...
7014                                           ,-98.0853
7015   CTRIA6,    6995,       1,      49,      50,   ...
7016                                           ,-179.997
7017   CTRIA6,    6996,       1,      49,      55,   ...
7018                                           ,-42.9061
7019   CTRIA6,    6997,       1,      60,      61,   ...
7020                                           , 64.2547
7021   CTRIA6,    6998,       1,      66,      37,   ...
7022                                           , 136.915
...                                                  ...
13967  CTRIA6,   10471,       1,    6305,    3750,   ...
13968                                          ,-106.390
13969  CTRIA6,   10472,       1,    6305,    6952,   ...
13970                                          ,-169.704
13971  CTRIA6,   10473,       1,    6952,    6980,   ...
13972                                          ,-161.134
13973  CTRIA6,   10474,       1,    6515,    6952,   ...
13974                                          ,-95.3776
13975  CTRIA6,   10475,       1,    3752,    6980,   ...
13976                                          , 140.116
13977  CTRIA6,   10476,       1,    6904,    6520,   ...
13978                                          , 40.8219
13979  CTRIA6,   10477,       1,    3752,    3906,   ...
13980                                          ,-179.716
13981  CTRIA6,   10478,       1,    6904,    6980,   ...
13982                                          ,-17.3939
13983
13984                                        $Properties
13985               PSHELL,       1,       1, 0.10000,-1
13986  PBAR,       2,       1, 0.10000, 0.10000, 0.10...
13987      ,        ,        ,        ,        ,     ...
13988                        ,        ,        , 0.00000
13989
13990                                         $Materials
13991  MAT1,       1, 1.5e+09,5.63e+08,    0.33,    5...
13992  MAT1,       2,1.53e+09,5.74e+08,    0.33,    5...
13993  MAT1,       3,2.38e+09,8.86e+08,   0.342,     ...
13994  MAT1,       4,4.28e+09,1.66e+09,    0.29,    1...
13995
13996                                           END DATA

[7004 rows x 1 columns]