In [1]:
! code .

## Read Nastran input file

from pyNastran\bdf\bdf_interface\pybdf.py _show_bad_file

In [1]:
import pandastran

In [24]:
self=pandastran.pandastran()
self.read_file("test_openvsp.dat")
self.df_in.head(2)

                                               text
0  $NASTRAN Data File Generated from OpenVSP 3.16.2
1                                   $Num_Tris: 3492

## out_file

In [ ]:
df_out=self.df_in

In [ ]:
self.write_file(df_out)

## make card df

### openVSP

In [5]:
df_GRID=self._make_df_card("GRID")
df_GRID = self._separate_open_vsp(df_GRID)
df_GRID.columns = ["name","id","zahyo_kei","x","y","z"]
df_GRID.head()

      name        id zahyo_kei         x         y         z
1174  GRID         1             0.00000   0.00000   0.00000
1175  GRID         2             0.06571   0.00000   0.07404
1176  GRID         3             0.06571   0.07404   0.00000
1177  GRID         4             0.03285   0.00000   0.03702
1178  GRID         5             0.06571   0.03702   0.03702

### Hyper mesh

In [3]:
self=pandastran.pandastran()
self.read_file("out_file.dat")
df=self.df_in.copy()
df=self._separate_8moji(df)
df.columns = ["name","id","zahyo_kei","x","y","z"]
df.head()

       name        id zahyo_kei         x         y         z
0  GRID             1             0.00000   0.00000   0.00000
1  GRID             2             0.06571   0.00000   0.07404
2  GRID             3             0.06571   0.07404   0.00000
3  GRID             4             0.03285   0.00000   0.03702
4  GRID             5             0.06571   0.03702   0.03702

## 8moji

In [ ]:
df_GRID = self._eight_moji(df_GRID)
df_GRID.head()

## create output file

In [ ]:
df_GRID = self._create_output_row(df_GRID)
df_GRID.head()

In [ ]:
self.write_file(df_GRID)

## factory

### header

In [ ]:
header_num = df[df["text"].str.contains('BEGIN BULK')].index[0]
header = df[:header_num]
header.tail()

In [ ]:
df_grid_heder=df[header_num:df_grid.index[0]]
df_grid_heder

### CTRIA6(open vsp)

In [32]:
self.df_in[15100:].head()

                                                    text
15100  CTRIA6,   10454,       1,    6398,    6391,   ...
15101                                          ,-51.6463
15102  CTRIA6,   10455,       1,    6328,    6327,   ...
15103                                          , 112.549
15104  CTRIA6,   10456,       1,    6398,    6949,   ...

In [36]:
start_num = self._make_df_card("CTRIA6").head(1).index[0]
end_num = self._make_df_card("CTRIA6").tail(1).index[0]+1
df=self.df_in.copy()
df=df[start_num:end_num]
df=self._separate_open_vsp(df)

In [37]:
df.head()

,0,1,2,3,4,5,6,7,8,9
8166,CTRIA6,6987,1,1,2,3,4,5,6,
8167,,-65.7132,None,None,None,None,None,None,None,None
8168,CTRIA6,6988,1,7,8,9,10,11,12,
8169,,-0.04143,None,None,None,None,None,None,None,None
8170,CTRIA6,6989,1,13,14,15,16,17,18,

In [ ]:
df_grid.tail(1).index[0]
CTRIA6_start = df_grid[len(df_grid)-1:].index[0]

In [ ]:
df_CTRIA6=df[df["text"].str.contains('CTRIA6')]
CTRIA6_start_num = df_CTRIA6.head(1).index[0]
CTRIA6_end_num = df_CTRIA6.tail(1).index[0]+2
df_tmp0 = df[CTRIA6_start_num:CTRIA6_end_num]
df_tmp0.head()

In [ ]:
df_tmp1 = df_tmp0[df_tmp0.index % 2 == 0]
df_tmp2 = df_tmp0[df_tmp0.index % 2 != 0]

In [ ]:
df_ctria=df_tmp1.join(df_tmp2)

In [ ]:
df_test = pd.DataFrame(df_tmp1,df_tmp2)

In [ ]:
df_tmp1