In [169]:
! code .

## Read Nastran input file

from pyNastran\bdf\bdf_interface\pybdf.py _show_bad_file

In [1]:
import pandastran

In [2]:
self=pandastran.pandastran()

In [13]:
self.read_file("test_openvsp.dat")
self.df_in.head(2)

                                               text
0  $NASTRAN Data File Generated from OpenVSP 3.16.2
1                                   $Num_Tris: 3492

## out_file

In [14]:
df_out=self.df_in

In [15]:
self.write_file(df_out)

out file out_file.dat

## make card df

In [16]:
df_GRID=self._make_df_card("GRID")
df_GRID = self._separate_open_vsp(df_GRID)
df_GRID.columns = ["name","id","zahyo_kei","x","y","z"]
df_GRID.head()

      name        id zahyo_kei         x         y         z
1174  GRID         1             0.00000   0.00000   0.00000
1175  GRID         2             0.06571   0.00000   0.07404
1176  GRID         3             0.06571   0.07404   0.00000
1177  GRID         4             0.03285   0.00000   0.03702
1178  GRID         5             0.06571   0.03702   0.03702

## 8moji

In [18]:
df_GRID = self._eight_moji(df_GRID)
df_GRID.head()

          name        id zahyo_kei         x         y         z
1174  GRID             1             0.00000   0.00000   0.00000
1175  GRID             2             0.06571   0.00000   0.07404
1176  GRID             3             0.06571   0.07404   0.00000
1177  GRID             4             0.03285   0.00000   0.03702
1178  GRID             5             0.06571   0.03702   0.03702

## create output file

In [19]:
df_GRID = self._create_output_row(df_GRID)
df_GRID.head()

                                                  text
1174  GRID           1         0.00000 0.00000 0.00000
1175  GRID           2         0.06571 0.00000 0.07404
1176  GRID           3         0.06571 0.07404 0.00000
1177  GRID           4         0.03285 0.00000 0.03702
1178  GRID           5         0.06571 0.03702 0.03702

In [20]:
self.write_file(df_GRID)

out file out_file.dat

## factory

### header

In [8]:
header_num = df[df["text"].str.contains('BEGIN BULK')].index[0]
header = df[:header_num]
header.tail()

                                                   text
1166  10443,10444,10445,10446,10447,10448,10449,1045...
1167  10452,10453,10454,10455,10456,10457,10458,1045...
1168  10461,10462,10463,10464,10465,10466,10467,1046...
1169  10470,10471,10472,10473,10474,10475,10476,1047...
1170                                                 \n

### GRID(open vsp)

In [9]:
df_grid=df[df["text"].str.contains('GRID')]
df_grid = df_grid["text"].str.split(',', expand=True)
df_grid.columns = ["name","id","zahyo_kei","x","y","z"]
# df_grid.tail()
df_grid.head(1)

      name        id zahyo_kei         x         y           z
1174  GRID         1             0.00000   0.00000   0.00000\n

In [10]:
df_grid_heder=df[header_num:df_grid.index[0]]
df_grid_heder

                    text
1171        BEGIN BULK\n
1172                  \n
1173  $Skin Gridpoints\n

### CTRIA6(open vsp)

In [22]:
df_grid.tail(1).index[0]
CTRIA6_start = df_grid[len(df_grid)-1:].index[0]

In [23]:
df_CTRIA6=df[df["text"].str.contains('CTRIA6')]
CTRIA6_start_num = df_CTRIA6.head(1).index[0]
CTRIA6_end_num = df_CTRIA6.tail(1).index[0]+2
df_tmp0 = df[CTRIA6_start_num:CTRIA6_end_num]
df_tmp0.head()

                                                   text
8166  CTRIA6,    6987,       1,       1,       2,   ...
8167                                        ,-65.7132\n
8168  CTRIA6,    6988,       1,       7,       8,   ...
8169                                        ,-0.04143\n
8170  CTRIA6,    6989,       1,      13,      14,   ...

In [15]:
df_tmp1 = df_tmp0[df_tmp0.index % 2 == 0]
df_tmp2 = df_tmp0[df_tmp0.index % 2 != 0]

In [24]:
df_ctria=df_tmp1.join(df_tmp2)

ValueError: columns overlap but no suffix specified: Index(['text'], dtype='object')

In [17]:
df_test = pd.DataFrame(df_tmp1,df_tmp2)

In [21]:
df_tmp1

                                                    text
8166   CTRIA6,    6987,       1,       1,       2,   ...
8168   CTRIA6,    6988,       1,       7,       8,   ...
8170   CTRIA6,    6989,       1,      13,      14,   ...
8172   CTRIA6,    6990,       1,      19,      20,   ...
8174   CTRIA6,    6991,       1,      25,      26,   ...
8176   CTRIA6,    6992,       1,      31,      32,   ...
8178   CTRIA6,    6993,       1,      37,      38,   ...
8180   CTRIA6,    6994,       1,      43,      44,   ...
8182   CTRIA6,    6995,       1,      49,      50,   ...
8184   CTRIA6,    6996,       1,      49,      55,   ...
8186   CTRIA6,    6997,       1,      60,      61,   ...
8188   CTRIA6,    6998,       1,      66,      37,   ...
8190   CTRIA6,    6999,       1,      71,      72,   ...
8192   CTRIA6,    7000,       1,      77,      78,   ...
8194   CTRIA6,    7001,       1,      66,      67,   ...
8196   CTRIA6,    7002,       1,      86,      87,   ...
8198   CTRIA6,    7003,       1,      92,      93,   ...
8200   CTRIA6,    7004,       1,      98,      99,   ...
8202   CTRIA6,    7005,       1,     104,     105,   ...
8204   CTRIA6,    7006,       1,     110,     105,   ...
8206   CTRIA6,    7007,       1,      71,     115,   ...
8208   CTRIA6,    7008,       1,     118,     119,   ...
8210   CTRIA6,    7009,       1,     124,     125,   ...
8212   CTRIA6,    7010,       1,     104,     130,   ...
8214   CTRIA6,    7011,       1,     135,     136,   ...
8216   CTRIA6,    7012,       1,     140,     141,   ...
8218   CTRIA6,    7013,       1,     140,       9,   ...
8220   CTRIA6,    7014,       1,     148,     149,   ...
8222   CTRIA6,    7015,       1,      20,     154,   ...
8224   CTRIA6,    7016,       1,      98,     159,   ...
...                                                  ...
15090  CTRIA6,   10449,       1,    6391,    6343,   ...
15092  CTRIA6,   10450,       1,    6825,    6391,   ...
15094  CTRIA6,   10451,       1,    6448,    3818,   ...
15096  CTRIA6,   10452,       1,    6825,    6451,   ...
15098  CTRIA6,   10453,       1,    6391,    6825,   ...
15100  CTRIA6,   10454,       1,    6398,    6391,   ...
15102  CTRIA6,   10455,       1,    6328,    6327,   ...
15104  CTRIA6,   10456,       1,    6398,    6949,   ...
15106  CTRIA6,   10457,       1,    6373,    6967,   ...
15108  CTRIA6,   10458,       1,    6804,    6677,   ...
15110  CTRIA6,   10459,       1,    6373,    6940,   ...
15112  CTRIA6,   10460,       1,    6804,    6967,   ...
15114  CTRIA6,   10461,       1,    6270,    3258,   ...
15116  CTRIA6,   10462,       1,    6273,    6885,   ...
15118  CTRIA6,   10463,       1,    6528,    6316,   ...
15120  CTRIA6,   10464,       1,    6547,    6528,   ...
15122  CTRIA6,   10465,       1,    6472,    6541,   ...
15124  CTRIA6,   10466,       1,    6547,    6473,   ...
15126  CTRIA6,   10467,       1,    6579,    6276,   ...
15128  CTRIA6,   10468,       1,    2891,    6270,   ...
15130  CTRIA6,   10469,       1,    6579,    3738,   ...
15132  CTRIA6,   10470,       1,    3738,      25,   ...
15134  CTRIA6,   10471,       1,    6305,    3750,   ...
15136  CTRIA6,   10472,       1,    6305,    6952,   ...
15138  CTRIA6,   10473,       1,    6952,    6980,   ...
15140  CTRIA6,   10474,       1,    6515,    6952,   ...
15142  CTRIA6,   10475,       1,    3752,    6980,   ...
15144  CTRIA6,   10476,       1,    6904,    6520,   ...
15146  CTRIA6,   10477,       1,    3752,    3906,   ...
15148  CTRIA6,   10478,       1,    6904,    6980,   ...

[3492 rows x 1 columns]